@model List<PhoneStore.BusinessObjects.Models.Product>

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Brand ID</th>
            <th>Main Image</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model ?? new List<PhoneStore.BusinessObjects.Models.Product>())
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.BrandId</td>
                <td><img src="@product.MainImage" width="50" /></td>
                <td>@product.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>